@inject IJSRuntime JS



<nav class="" style="background-color:#abbba5 !important;">

    <div class="nav-wrapper">

        <a href="#!" class="brand-logo center green-text">Blazor</a>

        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        <ul class="right hide-on-med-and-down">

            <li><NavLink href="/">Login</NavLink></li>
            <li><NavLink href="/home">Home</NavLink></li>

        </ul>

    </div>

</nav>

<ul class="sidenav" id="mobile-demo">

    <li><NavLink href="/">Login</NavLink></li>
    <li><NavLink href="/home">Home</NavLink></li>

</ul>



@code {

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        JS.InvokeVoidAsync("startMaterialize");

    }
}